In [40]:
import pandas as pd
import numpy as np
df_diesel = pd.read_excel('datasets/venda_diesel_segmento_2020.xlsx', sheet_name='DADOS')
df_diesel.rename(columns={'LOCALIDADE': 'Municipio'}, inplace = True)

In [41]:
df_diesel.head()

,UF,Municipio,POSTO REVENDEDOR,TRR,AGRICULTURA,EXTRATIVA,ALIMENTOS,BEBIDAS,VIDRO,CIMENTO,...,FERROVIÁRIO,RODOVIÁRIO,AQUAVIÁRIO,AÉREO,PÚBLICO,ABASTECIMENTO NAVIOS EM TRÂNSITO,OUTROS CONSUMOS,TOTAL,Unnamed: 31,Unnamed: 32
0,AC,ACRELANDIA,1928900,0,0,0,120000,0,0,0,...,0,435000,0,0,0,0,0,2513900,NaN,NaN
1,AC,ASSIS BRASIL,445000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3357000,NaN,NaN
2,AC,BRASILEIA,2341000,0,0,0,0,0,0,0,...,0,143000,0,0,0,0,0,2484000,NaN,NaN
3,AC,BUJARI,858300,0,0,0,0,0,0,0,...,0,170000,0,0,0,0,0,1028300,NaN,NaN
4,AC,CAPIXABA,1390000,0,0,0,0,0,0,0,...,0,1368000,0,0,0,0,0,2758000,NaN,NaN

In [42]:
df_rms = pd.read_csv('datasets/rms_uf_resumida_rev02.csv')

df_diesel = df_diesel[df_diesel[['UF', 'Municipio']].apply(tuple, axis=1).isin(df_rms[['UF','Municipio']].apply(tuple, axis=1))]
df_diesel = pd.merge(df_diesel, df_rms[['Municipio', 'UF', 'RM']], on=['Municipio', 'UF'], how='left')

In [43]:
df_diesel.head()

,UF,Municipio,POSTO REVENDEDOR,TRR,AGRICULTURA,EXTRATIVA,ALIMENTOS,BEBIDAS,VIDRO,CIMENTO,...,RODOVIÁRIO,AQUAVIÁRIO,AÉREO,PÚBLICO,ABASTECIMENTO NAVIOS EM TRÂNSITO,OUTROS CONSUMOS,TOTAL,Unnamed: 31,Unnamed: 32,RM
0,AC,RIO BRANCO,37831600,0,95000,85000,125000,0,0,310000,...,4669000,0,0,535000,0,0,47667600,NaN,NaN,Rio Branco
1,AL,BARRA DE SANTO ANTONIO,315000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,315000,NaN,NaN,Região Metropolitana de Maceió
2,AL,BARRA DE SAO MIGUEL,923500,0,0,0,0,0,0,0,...,0,0,0,0,0,0,923500,NaN,NaN,Região Metropolitana de Maceió
3,AL,MACEIO,49719000,27166000,0,0,790000,0,0,10000,...,12266500,145000,0,411500,205000,0,94383000,NaN,NaN,Região Metropolitana de Maceió
4,AL,MARECHAL DEODORO,3944500,0,0,0,3170001,0,0,0,...,127500,0,0,0,0,0,7431001,NaN,NaN,Região Metropolitana de Maceió

In [44]:
df_diesel['Volume_Real'] = df_diesel['POSTO REVENDEDOR']+df_diesel['RODOVIÁRIO']
df_diesel['Fator'] = df_diesel['Volume_Real']/df_diesel['TOTAL']
df_diesel['Fator_Pesado'] = df_diesel['Fator']*df_diesel['Volume_Real']

In [45]:
df_diesel.head()

,UF,Municipio,POSTO REVENDEDOR,TRR,AGRICULTURA,EXTRATIVA,ALIMENTOS,BEBIDAS,VIDRO,CIMENTO,...,PÚBLICO,ABASTECIMENTO NAVIOS EM TRÂNSITO,OUTROS CONSUMOS,TOTAL,Unnamed: 31,Unnamed: 32,RM,Volume_Real,Fator,Fator_Pesado
0,AC,RIO BRANCO,37831600,0,95000,85000,125000,0,0,310000,...,535000,0,0,47667600,NaN,NaN,Rio Branco,42500600,0.891604,3.789368e+07
1,AL,BARRA DE SANTO ANTONIO,315000,0,0,0,0,0,0,0,...,0,0,0,315000,NaN,NaN,Região Metropolitana de Maceió,315000,1.000000,3.150000e+05
2,AL,BARRA DE SAO MIGUEL,923500,0,0,0,0,0,0,0,...,0,0,0,923500,NaN,NaN,Região Metropolitana de Maceió,923500,1.000000,9.235000e+05
3,AL,MACEIO,49719000,27166000,0,0,790000,0,0,10000,...,411500,205000,0,94383000,NaN,NaN,Região Metropolitana de Maceió,61985500,0.656744,4.070863e+07
4,AL,MARECHAL DEODORO,3944500,0,0,0,3170001,0,0,0,...,0,0,0,7431001,NaN,NaN,Região Metropolitana de Maceió,4072000,0.547975,2.231353e+06

In [46]:
#df_diesel_g_fator = df_diesel.groupby(['RM'])['Fator'].sum()
df_diesel_g_fator_pesado = df_diesel.groupby(['RM'])['Fator_Pesado'].sum()
#print(df_diesel_g_fator_pesado.head())
df_diesel_g_fator_volume_real = df_diesel.groupby(['RM'])['Volume_Real'].sum()
#print(df_diesel_g_fator_volume_real.head())
df_diesel_g_fator = df_diesel_g_fator_pesado/df_diesel_g_fator_volume_real
df_diesel_g_fator

RM
Campo Grande                                                         0.425103
Região Integrada de Desenvolvimento da Grande Teresina               0.854395
Região Integrada de Desenvolvimento do Distrito Federal e Entorno    0.871369
Região Metropolitana da Capital                                      0.303238
Região Metropolitana da Grande São Luís                              0.645526
Região Metropolitana da Grande Vitória                               0.702714
Região Metropolitana de Aracaju                                      0.813675
Região Metropolitana de Belo Horizonte                               0.709686
Região Metropolitana de Belém                                        0.644476
Região Metropolitana de Curitiba                                     0.841821
Região Metropolitana de Florianópolis                                0.833116
Região Metropolitana de Fortaleza                                    0.862487
Região Metropolitana de Goiânia                                      0.856660
Região Metropolitana de João Pessoa                                  0.854662
Região Metropolitana de Macapá                                       0.863491
Região Metropolitana de Maceió                                       0.735646
Região Metropolitana de Manaus                                       0.469376
Região Metropolitana de Natal                                        0.838601
Região Metropolitana de Palmas                                       0.964873
Região Metropolitana de Porto Alegre                                 0.821625
Região Metropolitana de Porto Velho                                  0.669165
Região Metropolitana de Recife                                       0.753905
Região Metropolitana de Salvador                                     0.732075
Região Metropolitana de São Paulo                                    0.737514
Região Metropolitana do Rio de Janeiro                               0.723519
Região Metropolitana do Vale do Rio Cuiabá                           0.928226
Rio Branco                                                           0.891604
dtype: float64

In [47]:
df_diesel_g_fator2 = df_diesel.groupby(['RM'])['Fator'].mean()
#df_diesel_g_fator2

In [48]:
df_diesel_g_fator.to_csv('datasets/base_diesel_rm.csv')